@charset "utf-8";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(229, 229, 229);
}

h1 {
  margin:50px;
  font-size: 30px;
  /* font-weight: 500; */
  text-transform: uppercase;
}

section {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: calc(100vw - 20px);
  height: 100vh;
}

.statement {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 500px;
    height: 100px;
}

.characters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    width: 500px;
    height: 100px;
    margin-top: 30px;
}

.char1 {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
}

.char2 {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_button {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 50px;
    border: none;
    background-color: rgb(0, 97, 132);
    color: white;
    box-shadow: 0 10px 15px gray;
    transform: rotate(-20deg);
    cursor: pointer;
    /* z-index: 100; */
}

.left_button::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    background-color: rgb(90, 90, 90);
    top: 0;
    left: 80px;
}

.right_button {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 50px;
    border: none;
    background-color: #fff;
    color:rgb(0, 97, 132);
    box-shadow: 0 10px 15px gray;
    transform: rotate(20deg);
    cursor: pointer;
    /* z-index: 100; */
}

.right_button::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    background-color: rgb(90, 90, 90);
    top: 0;
    right: 80px;
}

.left_button:hover,
.right_button:hover,
.left_button:active,
.right_button:active {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}