@charset "utf-8";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(229, 229, 229);
}

.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 2;
}

.start.hide {
    display: none;
}

.start_button {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 150px;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 1px 5px 0 rgb(0,0,0,0.5);
    cursor: pointer;
}

.start_button:hover {
    color: white;
    background-color: rgb(3, 130, 176);
}

.start_button:active {
    position: relative;
    top: 49%;
    /* transform: translateY(-2px); */
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}


h1 {
  margin:50px;
  font-size: 30px;
  /* font-weight: 500; */
  text-transform: uppercase;
}

section {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: calc(100vw - 20px);
  height: 100vh;
}

.statement {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 500px;
    height: 100px;
}


.progressbar {
    margin-top: 10px;
    width: 240px;
    height: 20px;
    border-radius: 30px;
    background-color: #ddd;
}

.bar {
    margin: 0;
    width: 240px;
    height: 20px;
    border-radius: 30px;
    background-color: rgb(3, 130, 176);

}

.characters {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    width: 500px;
    height: 100px;
    margin-top: 30px;
}

.char1 {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
}

.char2 {
    border: 1px solid gray;
    width: 80px;
    height: 80px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_button {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 50px;
    border: none;
    background-color: rgb(0, 97, 132);
    color: white;
    box-shadow: 0 10px 15px gray;
    transform: rotate(-20deg);
    transition-duration: 0.3s;
    cursor: pointer;
    /* z-index: 100; */
}

.left_button::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    background-color: rgb(90, 90, 90);
    top: 0;
    left: 80px;
}

.right_button {
    position: relative;
    width: 80px;
    height: 50px;
    margin: 50px;
    border: none;
    background-color: #fff;
    color:rgb(0, 97, 132);
    box-shadow: 0 10px 15px gray;
    transform: rotate(20deg);
    transition-duration: 0.3s;
    cursor: pointer;
    /* z-index: 100; */
}

.right_button::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 80px;
    background-color: rgb(90, 90, 90);
    top: 0;
    right: 80px;
}

.left_button.click,
.right_button.click {
    transform: translateY(-10px);
    transition-duration: 0.3s;
}