@font-face {
    font-family: "NEODGM";
    src: url(../../assets/fonts/NEODGM.TTF);
}
body {
    background-color: #000;
}

input {
    display: none;
    z-index: 10000;
}

input:checked + .gameImg{
    transform: scale(2);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.game {
    display: flex;
    position: relative;
    width: 200px;
    height: 150px;
    margin: 15px;
    cursor: pointer;
    border-radius: 30px;
    transform: rotateY(180deg);
    transition: transform 2s;
    transform-style: preserve-3d;
}

.game.flipped {
    transform: rotateY(0deg);
}

.gameImg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 30px;
}

.game:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}

.game:hover .gameName {
    visibility: visible;
}

.game:hover .gameImg {
    opacity: 0.9;
}

.gameName {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "NEODGM";
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-shadow: -2px 0px white, 0px 2px white, 2px 0px white, 0px -2px white;
}

