::-webkit-scrollbar {
    display: none;
}

.test_result_full {
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 14px;
}

.test_result_header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE699;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}

.carousel_container {
    border: 1px solid #CCC;
    width: 210px;
    height: 140px;
    position: relative;
    margin: 20px auto;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateZ(-528px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel_item {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    text-align: center;
    transition: transform 1s, opacity 1s;
}

.carousel_item:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.carousel_item:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }

.carousel_item:nth-child(1) {transform: rotateY(0deg) translateZ(528px)}
.carousel_item:nth-child(2) {transform: rotateY(22.5deg) translateZ(528px)}
.carousel_item:nth-child(3) {transform: rotateY(80deg) translateZ(528px)}
.carousel_item:nth-child(4) {transform: rotateY(120deg) translateZ(528px)}
.carousel_item:nth-child(5) {transform: rotateY(160deg) translateZ(528px)}
.carousel_item:nth-child(6) {transform: rotateY(200deg) translateZ(528px)}
.carousel_item:nth-child(7) {transform: rotateY(240deg) translateZ(528px)}
.carousel_item:nth-child(8) {transform: rotateY(280deg) translateZ(528px)}
.carousel_item:nth-child(9) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(10) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(11) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(12) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(13) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(14) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(15) {transform: rotateY(320deg) translateZ(528px)}
.carousel_item:nth-child(16) {transform: rotateY(337.5deg) translateZ(528px)}

/* .carousel_item:nth-child(1) {transform: rotateY(0deg);}
.carousel_item:nth-child(2) {transform: rotateY(45deg);}
.carousel_item:nth-child(3) {transform: rotateY(67.5deg);}
.carousel_item:nth-child(4) {transform: rotateY(90deg);}
.carousel_item:nth-child(5) {transform: rotateY(112.5deg);}
.carousel_item:nth-child(6) {transform: rotateY(135deg);} */

.carousel_buttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel_prev_button,
  .carousel_next_button {
    color: #737373;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
  }
  