::-webkit-scrollbar {
    display: none;
}

.test_result_full {
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: auto;
    padding: 14px;
}

.test_result_header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE699;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}

.carousel_container {
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.carousel_item {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
}

/* .carousel_item:nth-child(1) {transform: rotateY(0deg);}
.carousel_item:nth-child(2) {transform: rotateY(45deg);}
.carousel_item:nth-child(3) {transform: rotateY(67.5deg);}
.carousel_item:nth-child(4) {transform: rotateY(90deg);}
.carousel_item:nth-child(5) {transform: rotateY(112.5deg);}
.carousel_item:nth-child(6) {transform: rotateY(135deg);} */

.carousel_buttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel_prev_button,
  .carousel_next_button {
    color: #737373;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
  }
  