:root {
    --box-x: 100px;
    --box-y: 250px;

    --txt-white: #f0f2f5;
    --white: #fff;
    --black: #000;

    --td-bg: #46b1e2;
    
    --block-bg: #3589af;
    --block-width: 150px;
    --block-height: 40px;

    --border-radious: 10px;

    --font-size: 1rem;
    --font-size-m: 2rem;
    --font-size-l: 3rem;
}

@font-face {
    font-family: "NEODGM";
    src: url(../font/NEODGM.TTF);
}
body {
    font-family: "NEODGM";
}

.screen {
    position: relative;
    left: 30%;
}

.start-screen {
    position: absolute;
    visibility: hidden;
    position: absolute;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.logo,
.game-over {
    font-size: var(--font-size-l);
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

.info {
    color: var(--white);
    font-size: var(--font-size);
    margin-bottom: 20px;
}

.btn {
    height: var(--box-x);
    width: var(--box-y);
    background-color: var(--td-bg);
    color: var(--white);
    font-size: var(--font-size-m);
    font-weight: 900;
    border-radius: var(--border-radious);
    display: grid;
    place-items: center;
    overflow: hidden;
}

.btn:hover {
    background-color: var(--block-bg);
    cursor: pointer;
}

.end-screen {
    visibility: hidden;
    position: absolute;
    margin: auto;
}

.game-container {
    visibility: hidden;
    width: 500px;
    height: 730px;
    position: absolute;
    overflow: hidden;
    margin: auto;
}

.start-screen.active,
.end-screen.active,
.game-container.active {
    visibility: visible;
}

.sky {
    background-image: url('./images/bg.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('./images/fg.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url('./images/bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-image: url('./images/pipeSouth.png');
    width: 60px;
    height: 300px;
    position: absolute;
    object-fit: cover;
}

.topObstacle {
    background-image: url('./images/pipeSouth.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}